<div class="button-close__wrapper">
  <div class="button-close__container">
    <a class="button-close__button" (click)="isCalc()" #btnEvent>
      <span class="button-close__burger"></span>
    </a>
  </div>
</div>
<div class="main">
  <div class="calculator" [ngStyle]="{ 'left.px': changeP }">
    <div class="container">
      <div class="display">
        <div class="display-top">
          {{ currentNum }}
        </div>
      </div>
      <div class="wrapper-buttons">
        <button
          *ngFor="let button of buttons"
          [class]="button.class"
          (click)="onButton(button)"
        >
          {{ button.value }}
        </button>
      </div>
    </div>
  </div>
</div>
